@import "tailwindcss";

@theme {
  --color-background: #09090B;
  --color-surface: #131316;
  --color-border: #1E1E24;
  --color-indigo: #7C6EF6;
  --color-green: #34D399;
  --color-red: #F87171;
  --color-muted: #52525B;

  --font-sans: 'Inter', sans-serif;
  --font-header: 'Space Grotesk', sans-serif;

  --radius-xl: 12px;
}

:root {
  background-color: #09090B;
  color: white;
  font-family: 'Inter', sans-serif;
}
